/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд. */
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/
body {
    margin: 0;
    padding: 20px;
    background-color: #779f1f;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.postDetailsBlock {
    padding: 15px;
    margin: 10px;
    border: 3px solid #779f1f;
    border-radius: 5px;
    font-size: 22px;
    background: #c5e97a;
    width: 95%;
    justify-content: center;
    display: flex;
}

.postCommentsBlock {
    padding: 20px;
}

.commentBlock {
    display: flex;
    justify-content: center;
    background-color: #c5e97a;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 21%;
    height: 300px;
    float: left;
    box-sizing: border-box;
    font-size: 17px;
}


