/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*блоки з короткою іфною про post - в ряд по 5 .*/
body{
    background: #779f1f;

}
h1{ display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 40px;
    color: black;
}
#userDetails {
    display: flex;
    justify-content: start;
    width: 90%;
    font-size: 25px;
    background-color:#c5e97a;
    margin: 30px;
    padding: 20px;
    border: 3px solid #497406;
    border-radius: 5px;
}
#userPostsButton {
    width: 90%;
    height: 7%;
    margin: 20px 60px 20px 60px;
    display: block;
    text-align: center;
    padding: 10px;
    border: 2px solid #2b4c0c;
    border-radius: 30px;
    font-size: 20px;
    background: #2b4c0c;
    color: white;
}

#userPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 20px;
    padding: 20px;
    border: 2px solid #2b4c0c;
    border-radius: 5px;
    font-size: 18px;
    background: #c5e97a;
}
.postBlock{
    width: 15%;
    margin-bottom: 20px;
    text-align: center;
    background-color: floralwhite;
    padding: 10px;
    border: 2px solid #2b4c0c;
    border-radius: 5px;
    font-size: 18px;
}









