/*Стилизація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
body{
    background: white;
    height: 100vh;
    width: 100vw;
    margin: 0;

}
h1{ display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-box {
    width: 40%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #779f1f;
    border-radius: 10px;
    font-size: 20px;
    background: #c5e97a;
}

.user-box h2, .user-box h3 {
    margin: 0;

}

.user-box a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #779f1f;
    padding: 5px;
    border-radius: 20px;
    border:2px solid #497406;
    text-decoration: none;
    width: 45%;
    font-size: 20px;
}

